<li class="film_item">
  <div class="film_container">
    <img class="poster" src="{{Poster}}" alt="" />
    <div class="desciption_container">
      <p class="title">
        {{Title}}
      </p>
      <p class="category">
        Year:
        <span class="description_content">
          {{Year}}
        </span>
      </p>
      <p class="category">
        Genre:
        <span class="description_content">
          {{Genre}}
        </span>
      </p>
      <p class="category">
        Released:
        <span class="description_content">
          {{Released}}
        </span>
      </p>
      <p class="category">
        Director:
        <span class="description_content">
          {{Director}}
        </span>
      </p>
      <p class="category">
        Actors:
        <span class="description_content">
          {{Actors}}
        </span>
      </p>
      <p class="category">
        Language:
        <span class="description_content">
          {{Language}}
        </span>
      </p>
      <p class="category">
        Country:
        <span class="description_content">
          {{Country}}
        </span>
      </p>
      <p class="category">
        About film:
        <span class="description_content">
          {{Plot}}
        </span>
      </p>
    </div>
  </div>
</li>
;